services:
  dev:
    build:
      context: .
      target: dev-environment
    env_file:
      - .env
    environment:
      SERVER_NAME: ${SERVER_NAME:-http://localhost:8080} # FrankenPHP variable - https://frankenphp.dev/docs/config/#environment-variables
    ports:
      - 8080:8080 # dev
    volumes:
      - ./:/app/
      - .php/php.ini:/usr/local/etc/php/php.ini
      - .php/development.ini:/usr/local/etc/php/conf.d/dev.ini
      # - ./.caddy:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
    tty: true

# Volumes needed for Caddy certificates and configuration
volumes:
  caddy_data:
  caddy_config:
