parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method (find|new|update|getScheduled)\(\) on SimpleNewsletter\\Data\\FeedsDAO\|null\.$#'
			identifier: method.nonObject
			count: 8
			path: tests/Data/FeedsDAOTest.php